html
{
    background-attachment: fixed;
    background-image: url('../images/accueil.jpg');
}

.git-hub-img
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 1024px)
{
    html
    {
        background-repeat: no-repeat;
        background-image: url('../images/accueil_mobile.jpg');
        background-size: cover;
    }
}